* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font: 13px Helvetica, Arial;
}
.body-container {
  background: #aed6f1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.live-container {
  width: 130px;
  height: 200px;
  background-color: white;
  margin: 0 40px;
}
.content {
  min-width: 600px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 20px 0px;
}
#messages {
  list-style-type: none;
  flex: 1;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: white;
  overflow: auto;
  padding-top: 10px;
}

.user-name {
  height: 50px;
  display: flex;
  align-items: center;
}
.user-message {
  height: 60px;
  display: flex;
}
#message-textArea {
  flex-grow: 1;
  overflow: auto;
  padding: 5px;
}
.send-button {
  min-width: 80px;
  background-color: white;
  border: 1px solid black;
}
textarea {
  resize: none;
}
.my-message-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 5px;
}
.custom-message-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 5px;
}
.my-message-content {
  margin-top: 4px;
  padding: 4px 6px;
  background-color: lightblue;
  color: white;
  border-radius: 8px;
}
.custom-message-content {
  margin-top: 4px;
  padding: 4px 6px;
  background-color: lightblue;
  color: white;
  border-radius: 8px;
}
.live-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 600px) {
  /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .body-container {
    flex-direction: column;
    align-items: unset;
  }
  .live-container {
    width: 200px;
    margin: 10px 20px;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    height: 100px;
    overflow: auto;
  }
  .content-container {
    flex-direction: row;
    align-items: unset;
    margin: 0 10px;
  }
  .content {
    margin-top: 0px;
    min-width: unset;
  }
  .user-message {
    height: 30px;
    margin-top: 10px;
  }
  #message-textArea {
    border-radius: 4px;
    border-width: 0px;
  }
  #message-button {
    border-radius: 4px;
    border-width: 0px;
    min-width:60px;
    margin-left:10px;
  }
}
